
<%- include('include/header') %>


<div class="card">
    <div class="card-header">
        <h5>Invoice List</h5>
        <!-- <span>use class <code>table-dark</code> inside table element</span> -->
        <div class="card-header-right">
            <ul class="list-unstyled card-option">
                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                <li><i class="fa fa-window-maximize full-card"></i></li>
                <li><i class="fa fa-minus minimize-card"></i></li>
                <li><i class="fa fa-refresh reload-card"></i></li>
                <li><i class="fa fa-trash close-card"></i></li>
            </ul>
        </div>
    </div>
    <div class="card-block table-border-style" style="overflow-y:scroll;height:500px;">
        <div class="table-responsive">
            <table class="table table-dark">
               
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Date CTR</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>EB</th>
                        <th>AR</th>
                        <th>Name</th>
                        <th>Items</th>
                        <th>Cavan</th>
                        <th>SubTotal</th>
                        <th>Prev B</th>
                        <th>Prev R</th>
                        <th>Addons</th>
                        <th>Less</th>
                        <th>BackLoad</th>
                        <th>Grand Total</th>
                        <th>M-Cash</th>
                        <th>Check Bal</th>
                        <th>Check Num</th>
                        <th>Check Date</th>
                        <th>M-Change</th>
                        <th>New-R</th>
                        <th>New-B</th>
                        <th>TST</th>
                        <th>DR-Edit</th>
                        <th>SI-Edit</th>
                        <th>OR-Edit</th>
                        <th>Trans Type</th>
                        <th>Del-R</th>
                        <th>Del-L</th>
                        <th>Contact</th>
                        <th>Address</th>
                        <th>OG</th>
                        <th>Cus-Key</th>
                        <th>Notes</th>
                        <th>Prev-St.</th>
                        <th>Prev-Loc</th>
                        <th>R-ID</th>

                        
                     

                  
                    </tr>
                   
                </thead>
                <tbody>
                 
                    <% for(var i = 0; i < trans.length; i++) { %>
                    <tr>
                      
                            <th><%= i + 1 %></th>
                            <td><%= trans[i].t_dateCTR %></td>
                            <td><%= trans[i].t_date %></td>
                            <td><%= trans[i].t_time %></td>
                            <td><%= trans[i].t_eb %></td>
                            <td><%= trans[i].t_ar %></td>
                            <td><%= trans[i].t_name %></td>
                            <td><%= trans[i].t_items %></td>
                            <td><%= trans[i].t_cavans %></td>
                            <td><%= trans[i].t_subtotal %></td>
                            <td><%= trans[i].t_prevB %></td>
                            <td><%= trans[i].t_prevR %></td>
                            <td><%= trans[i].t_addons %></td>
                            <td><%= trans[i].t_less %></td>
                            <td><%= trans[i].t_backLoad %></td>
                            <td><%= trans[i].t_grandTotal %></td>
                            <td><%= trans[i].t_mCash %></td>
                            <td><%= trans[i].t_checkBal %></td>
                            <td><%= trans[i].t_checkNum %></td>
                            <td><%= trans[i].t_checkDate %></td>
                            <td><%= trans[i].t_mChange %></td>
                            <td><%= trans[i].t_newR %></td>
                            <td><%= trans[i].t_newB %></td>
                            <td><%= trans[i].t_st %></td>
                            <td><%= trans[i].t_drEdit %></td>
                            <td><%= trans[i].t_siEdit %></td>
                            <td><%= trans[i].t_orEdit %></td>
                            <td><%= trans[i].t_transType %></td>
                            <td><%= trans[i].t_delR %></td>
                            <td><%= trans[i].t_delL %></td>
                            <td><%= trans[i].t_contact %></td>
                            <td><%= trans[i].t_address %></td>
                            <td><%= trans[i].t_OG %></td>
                            <td><%= trans[i].t_cusKey %></td>
                            <td><%= trans[i].t_notes %></td>
                            <td><%= trans[i].t_prevSt %></td>
                            <td><%= trans[i].t_prevLt %></td>
                            <td><%= trans[i].t_rId %></td>
                         
                           

                 

                    </tr>
                    <% } %>
                  
               
            
                 
                </tbody>
            </table>
        </div>
    </div>
</div>







<%- include('include/footer') %>