<%- include('include/header') %>



<div class="row">
    <div class="col-sm-6 mobile-inputs">
        <hr>
        <h4 class="title">Invoice History</h4>
        <hr>
        <form action="/admin/api/invHis" method="post" id="add_customer">
            <div class="form-group row">
                <div class="col-sm-6">
                  
                    <input type="datetime-local" name="ihDateCTR" class="form-control form-txt-primary" placeholder="Date CTR">
                </div>
                <div class="col-sm-6">
                 
                    <input type="date" name="ihDate" class="form-control form-txt-primary" placeholder="Date">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <input type="time" name="ihTime" class="form-control form-txt-primary" placeholder="Time">
                </div>
                <div class="col-sm-6">
                    <input type="number" name="ihItem" class="form-control form-txt-primary" placeholder="Item">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <input type="text" name="ihType" class="form-control form-txt-primary" placeholder="Type">
                </div>
                <div class="col-sm-6">
                    <input type="text" name="ihPrev" class="form-control form-txt-primary" placeholder="Previous">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <input type="text" name="ihAdded" class="form-control form-txt-primary" placeholder="Added">
                </div>
                <div class="col-sm-6">
                    <input type="text" name="ihNew" class="form-control form-txt-primary" placeholder="New">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <input type="text" name="ihRem" class="form-control form-txt-primary" placeholder="Remedial">
                </div>
                <div class="col-sm-6">
                    <input type="text" name="ihEb" class="form-control form-txt-primary" placeholder="EB">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <input type="text" name="ihRiceMill" class="form-control form-txt-primary" placeholder="Rice Mill">
                </div>
                <div class="col-sm-6">
                    <input type="text" name="ihDriver" class="form-control form-txt-primary" placeholder="Driver">
                </div>
               
            </div>
            <div class="row" style="margin-top: 1rem;margin-bottom: 1rem;">
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                    </div>
                </div>
        
    </div>
    <div class="col-sm-6 mobile-inputs">
        <hr>
        <h4 class="title">Database</h4>
        <hr>
     
            
            <div class="form-group row">
                <div class="col-sm-6">
                    <input type="text" class="form-control form-txt-primary" name="ihPlate" placeholder="Plate #">
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control form-txt-primary" name="ihReciept" placeholder="Reciept">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <input type="text" name="ihPrp" class="form-control form-txt-primary" placeholder="PRP">
                </div>
                <div class="col-sm-6">
                    <input type="text" name="ihp15" class="form-control form-txt-primary" placeholder="P15">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <input type="text" name="ihp110" class="form-control form-txt-primary" placeholder="P110">
                </div>
                <div class="col-sm-6">
                    <input type="text" name="ihPmp" class="form-control form-txt-primary" placeholder="PMP">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <input type="text" class="form-control form-txt-primary" name="ihPtc" placeholder="PTC">
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control form-txt-primary" name="ihPw1" placeholder="PW1">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <input type="text" class="form-control form-txt-primary" name="ihpw2" placeholder="PW2">
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control form-txt-primary" name="ihpsp1" placeholder="PSP1">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <input type="text" class="form-control form-txt-primary" name="ihpsp2" placeholder="PSP2">
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control form-txt-primary" name="ihpDivert" placeholder="P-Divert">
                </div>
            </div>
        </form>
    </div>
</div>  
<div class="card">
    <div class="card-header">
        <h5>Invoice List</h5>
        <!-- <span>use class <code>table-dark</code> inside table element</span> -->
        <div class="card-header-right">
            <ul class="list-unstyled card-option">
                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                <li><i class="fa fa-window-maximize full-card"></i></li>
                <li><i class="fa fa-minus minimize-card"></i></li>
                <li><i class="fa fa-refresh reload-card"></i></li>
                <li><i class="fa fa-trash close-card"></i></li>
            </ul>
        </div>
    </div>
    <div class="card-block table-border-style" style="overflow-y:scroll;height:500px;">
        <div class="table-responsive">
            <table class="table table-dark">
               
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Date CTR</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Item</th>
                        <th>Type</th>
                        <th>Prev</th>
                        <th>Added</th>
                        <th>New</th>
                        <th>Rem</th>
                        <th>EB</th>
                        <th>Rice Mill</th>
                        <th>Driver</th>
                        <th>Plate</th>
                        <th>Receipt</th>
                        <th>PRP</th>
                        <th>P15</th>
                        <th>P110</th>
                        <th>PMP</th>
                        <th>PTC</th>
                        <th>PW1</th>
                        <th>PW2</th>
                        <th>PSP1</th>
                        <th>PSP2</th>
                        <th>P-Divert</th>
                     

                  
                    </tr>
                   
                </thead>
                <tbody>
                    <% for(var i = 0; i < invHis.length; i++) { %>
                 
                    <tr>
                      
                            <th><%= i + 1 %></th>
                            <td><%= invHis[i].ih_dateCTR %></td>
                            <td><%= invHis[i].ih_date %></td>
                            <td><%= invHis[i].ih_time %></td>
                            <td><%= invHis[i].ih_item %></td>
                            <td><%= invHis[i].ih_type %></td>
                            <td><%= invHis[i].ih_prev %></td>
                            <td><%= invHis[i].ih_added %></td>
                            <td><%= invHis[i].ih_new %></td>
                            <td><%= invHis[i].ih_rem %></td>
                            <td><%= invHis[i].ih_eb %></td>
                            <td><%= invHis[i].ih_riceMill %></td>
                            <td><%= invHis[i].ih_driver %></td>
                            <td><%= invHis[i].ih_plate %></td>
                            <td><%= invHis[i].ih_reciept %></td>
                            <td><%= invHis[i].ih_prp %></td>
                            <td><%= invHis[i].ih_p15 %></td>
                            <td><%= invHis[i].ih_p110 %></td>
                            <td><%= invHis[i].ih_pmp %></td>
                            <td><%= invHis[i].ih_ptc %></td>
                            <td><%= invHis[i].ih_pw1 %></td>
                            <td><%= invHis[i].ih_pw2 %></td>
                            <td><%= invHis[i].ih_psp1 %></td>
                            <td><%= invHis[i].ih_psp2 %></td>
                            <td><%= invHis[i].ih_pDivert %></td>

                       <td>
                        <a class="btn border-shadow delete" data-id=<%= invHis[i]._id%> >
                            <span class="text-gradient"><i class="fas fa-times" style="color: rgb(245, 5, 5);"></i></span>
                        </a>
                       </td>

                    </tr>
                    <% } %>
               
            
                 
                </tbody>
            </table>
        </div>
    </div>
</div>


<%- include('include/footer') %>


