<%- include("include/header.ejs") %>
<%- include("include/topbar.ejs") %>

<div class="container d-flex flex-column align-items-center">
    <p class="h2 text-center my-5">Edit your details.</p>
    <!-- 

        first_name
        last_name
        address_1
        address_2
        email
        password
        mobile_no
        city
        zipcode
     -->
    <div class="border border-dark border-5 p-5 ">
        <form action="/edit" method="post">
            <div class="row row-cols-2">
                <div class="col-md col-sm-12">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" name="su_first_name" id="su_first_name" placeholder="Juan">
                        <label for="email">First name</label>
                   </div>
                </div>
                <div class="col-md col-sm-12">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" name="su_last_name" id="su_last_name" placeholder="Dela Cruz">
                        <label for="email">Last Name</label>
                   </div>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="su_email" placeholder="name@example.com">
                <label for="email">Email address</label>
           </div>
           <div class="form-floating">
                <input class="form-control mb-3" type="text" name="password" id="password" placeholder="********">
                <label for="password">Password</label>
            </div>
           <div class="form-floating">
                <input class="form-control mb-3" type="text" name="su_address1" id="su_address1" placeholder="Lot 3 Blk 9">
                <label for="su_address1">Address</label>
           </div>
            <div class="form-floating mb-3">
                <select class="form-select" name="su_city" id="su_city">
                    <option selected disabled>SELECT CITY</option>
                    <% cities.forEach(city => {%>
                        <option value="<%= city.name %>"><%= city.name %></option>
                    <% }); %>
                </select>
                <label for="cities">City</label>
            </div>
            <div class="form-floating">
                <input class="form-control mb-3" type="text" name="su_zip_code" id="su_zip_code" placeholder="****">
                <label for="su_zip_code">Zip Code</label>
           </div>
           <input class="btn btn-primary" type="submit" value="Update Details">
        </form>
    </div>
</div>
<%- include("include/footer.ejs") %>